<!-- <p>popup works!</p> -->
<div class="container d-flex flex-column">
    <!-- <h1 class="text-center">Input Amplitude & Frequency</h1> -->
    <button type="button" class="btn btn-primary rounded-pill m-6" (click)="show()">Input</button>
    <button type="button" class="btn btn-primary rounded-pill m-6">Carrier</button>
</div>
<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Input Values</h4>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmitInput()" [formGroup]="registerForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Amplitude <i>(Volt)</i></label>
                                <input type="text" id="amplitude" formControlName="Amplitude" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Amplitude.errors }" />
                                <div *ngIf="submitted && f.Amplitude.errors" class="invalid-feedback">
                                    <div *ngIf="f.Amplitude.errors.required">Amplitude is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Frequency <i>(Hz)</i></label>
                                <input type="text" id="frequency" formControlName="Frequency" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Frequency.errors }" />
                                <div *ngIf="submitted && f.Frequency.errors" class="invalid-feedback">
                                    <div *ngIf="f.Frequency.errors.required">Frequency is required</div>
                                    <div *ngIf="f.Frequency.errors.Frequency">Frequency must be a valid Number</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Frequency_Sensitivity <i>(Hz/Volt)</i></label>
                                <input type="text" id="frequency_sensitivity" formControlName="Frequency_Sensitivity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Frequency_Sensitivity.errors }" />
                                <div *ngIf="submitted && f.Frequency_Sensitivity.errors" class="invalid-feedback">
                                    <div *ngIf="f.Frequency_Sensitivity.errors">Frequency_Sensitivity must be Valid
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary m-6">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>
            </div>
        </div>
    </div>
</div>