<div class="container d-flex flex-row">
    <div class="lab-title p-3 pt-10">
        <h1 class="display-1">Amplitude Modulation</h1>
        <p>In Amplitude modulation the amplitude of the carrier signal varies in accordance with the instantaneous amplitude of the modulating signal.</p>
    </div>

    <img class="m-3" src="https://vlab.amrita.edu/userfiles/7/image/AM%20modulation/1.gif" alt="FM image">
</div>
<div class="container my-3">

    <head>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG">
        </script>
    </head>
    <p class="lead">A continuous-wave goes on continuously without any intervals and it is the baseband message signal, which contains the information. This wave has to be modulated. According to the standard definition, “The amplitude of the carrier signal varies in
        accordance with the instantaneous amplitude of the modulating signal.” Which means, the amplitude of the carrier signal containing no information varies as per the amplitude of the signal containing information, at each instant. This can be well
        explained by the following figures.</p>

    <img src="https://www.tutorialspoint.com/analog_communication/images/base_band_signal.jpg" class="img-fluid" alt="Responsive image">
    <img src="https://www.tutorialspoint.com/analog_communication/images/carrier_signal.jpg" class="img-fluid" alt="Responsive image">

    <img src="https://www.tutorialspoint.com/analog_communication/images/am_modulated_wave.jpg" class="img-fluid" alt="Responsive image">
    <br>
    <p class="lead">The first figure shows the modulating wave, which is the message signal. The next one is the carrier wave, which is a high frequency signal and contains no information. While, the last one is the resultant modulated wave.
        <br> It can be observed that the positive and negative peaks of the carrier wave, are interconnected with an imaginary line. This line helps recreating the exact shape of the modulating signal. This imaginary line on the carrier wave is called
        as
        <b>Envelope</b>. It is the same as that of the message signal.
    </p>
    <br>
    <h2 class="text-primary">Mathematical Expressions</h2>
    <p class="lead">Following are the mathematical expressions for these waves.<br>
        <br> Let the modulating signal be:</p>
    <p class="lead text-dark"><b>m(t)=Amcos(2πfmt)</b><br><br> and the carrier signal be,<br>

        <b class="text-dark">c(t)=Accos(2πfct)</b><br><br> Where,
        <br> Am and Ac are the amplitude of the modulating signal and the carrier signal respectively,<br> fm and fc are the frequency of the modulating signal and the carrier signal respectively.<br> Then, the <b>equation of
            Amplitude Modulated wave</b> will be:<br><br>
    </p>

    <h2 class="text-dark">s(t)=[Ac+Amcos(2πfmt)]cos(2πfct)</h2>
    <br><br><br><br><br><br>

</div>